{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div>
	<a href="{% url 'type-in-single' %}">单个活动录入</a>
	<a href="{% url 'type-in-multi' %}">多个活动录入</a>
</div>

<div>
	unchosen_unsearch_list
	</div>
<table class="table"><tbody>
	{% for activity in unchosen_search_list %}
	<tr>
		<td><a href="{% url 'activity-info' activity.id %}">{{activity.name}}</a>
		<div class="info">
			{% bootstrap_icon 'start_time' %}<b>{{activity.start_time}}</b>
			{% bootstrap_icon 'end_time' %}<b>{{activity.end_time}}<b>
			{% bootstrap_icon 'place' %}<b>{{activity.place}}<b>
		</div>
		<div>
			<a href="{% url 'choose-from-list' activity.id %}">选择</a>
			<a href="{% url 'delete-activity' activity.id %}">删除</a>
		</div>
		</td>
	</tr>
	{% endfor %}
</tbody></table>

<div>
	unchosen_unsearch_list
	</div>
<table><tbody>
	{% for activity in unchosen_unsearch_list %}
	<tr>
		<td><a href="{% url 'activity-info' activity.id %}">{{activity.name}}</a>
		<div class="info">
			{% bootstrap_icon 'start_time' %}{{activity.start_time}}
			{% bootstrap_icon 'end_time' %}{{activity.end_time}}
			{% bootstrap_icon 'place' %}{{activity.place}}
		</div>
		<div>
			<a href="{% url 'choose-from-list' activity.id %}">选择</a>
			<a href="{% url 'delete-activity' activity.id %}">删除</a>
		</div>
		</td>
	</tr>
	{% endfor %}
</table></tbody>
<div>
	chosen_search_list
	</div>
	
<table><tbody>
	{% for activity in chosen_search_list %}
	<tr>
		<td><a href="{% url 'activity-info' activity.id %}">{{activity.name}}</a>
		<div class="info">
			{% bootstrap_icon 'start_time' %}<b>{{activity.start_time}}</b>
			{% bootstrap_icon 'end_time' %}<b>{{activity.end_time}}<b>
			{% bootstrap_icon 'place' %}<b>{{activity.place}}<b>
		</div>
		<div>
			<a href="{% url 'choose-from-list' activity.id %}">选择</a>
			<a href="{% url 'delete-activity' activity.id %}">删除</a>
		</div>
		</td>
	</tr>
	{% endfor %}
</table></tbody>

<div>
	chosen_unsearch_list
	</div>
<table><tbody>
	{% for activity in chosen_unsearch_list %}
	<tr>
		<td><a href="{% url 'activity-info' activity.id %}">{{activity.name}}</a>
		<div class="info">
			{% bootstrap_icon 'start_time' %}{{activity.start_time}}
			{% bootstrap_icon 'end_time' %}{{activity.end_time}}
			{% bootstrap_icon 'place' %}{{activity.place}}
		</div>
		<div>
			<a href="{% url 'choose-from-list' activity.id %}">选择</a>
			<a href="{% url 'delete-activity' activity.id %}">删除</a>
		</div>
		</td>
	</tr>
	{% endfor %}
</tbody></table>

{% endblock %}