{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content%}
{% include 'messages.html' %}
<h3><font style="font-family:STXinwei">活动详情</font></h3>
<div class="panel panel-default" style="background-color:#CCFFCC">
	<div class="panel-heading"><font style="font-family:STXinwei">活动详情</font></div>
	<div class="panel-body"style="font-family:STXinwei">
	<form method="POST" action="{% url 'activity-info-submit' activity.id %}"style="font-family:STXinwei">
		{% csrf_token %}
		{% bootstrap_form form layout='inline'%}
		<div style="width:5%;float:left">
		{% buttons submit='保存' %}{% endbuttons %}
		</div>
	</form>
	<div style="width:5%;float:left">
	<form method="POST" action="{% url 'to-list' %}"style="font-family:STXinwei">
	{% csrf_token %}
	{% buttons submit='返回' %}{% endbuttons %}
	</form>
	</div>
	</div>
</div>
{% endblock %}