{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div><h3>已安排活动</h3></div>
<table class="table"><tbody>
	{% for activity in arrange_list %}
	<tr>
		<td><a href="{% url 'activity-info' activity.id %}"><font color="red">{{activity.name}}</font></a>
		<div class="info">
			{% bootstrap_icon 'start_time' %}<font color="red">{{activity.start_time}}</font>
			{% bootstrap_icon 'end_time' %}<font color="red">{{activity.end_time}}</font>
			{% bootstrap_icon 'place' %}<font color="red">{{activity.place}}</font>
		</div>
		</td>
	</tr>
	{% endfor %}
</tbody></table>

<br>
<br>

<div><h3>未安排活动</h3></div>
<table class="table"><tbody>
	{% for activity in disarrange_list %}
	<tr>
		<td><a href="{% url 'activity-info' activity.id %}"><font color="red">{{activity.name}}</font></a>
		<div class="info">
			{% bootstrap_icon 'start_time' %}<font color="red">{{activity.start_time}}</font>
			{% bootstrap_icon 'end_time' %}<font color="red">{{activity.end_time}}</font>
			{% bootstrap_icon 'place' %}<font color="red">{{activity.place}}</font>
		</div>
		</td>
	</tr>
	{% endfor %}
</tbody></table>

<div>
	<form method="POST" action="{% url 'to-list' %}"> 
	{% csrf_token %}
	{% buttons submit='返回' %}{% endbuttons %}
	</form>
</div>
{% endblock %}
