{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div><h3><font style="font-family:STXinwei">已安排活动</font></h3></div>
<table class="table" border="1"  width="100%" cellpadding="0" cellspacing="1" bordercolor="#FFFFCC"><tbody>
	{% for activity in arrange_list %}
	<tr>
		<td style="background-color:#E8F0FD;border-radius:15px"><a href="{% url 'activity-info' activity.id %}"><font size="4" style="color:#3333CC;font-family:STXinwei"><u>{{activity.name}}</u></font></a>
		<div class="info">
			{% bootstrap_icon 'start_time' %}<font style="color:#6699FF;font-family:STXinwei">{{activity.start_time}}</font>
			{% bootstrap_icon 'end_time' %}<font style="color:#6699FF;font-family:STXinwei">{{activity.end_time}}</font>
			{% bootstrap_icon 'place' %}<font style="color:#6699FF;font-family:STXinwei">{{activity.place}}</font>
		</div>
		</td>
	</tr>
	{% endfor %}
</tbody></table>

<br>
<br>

<div><h3><font style="font-family:STXinwei">未安排活动</font></h3></div>
<table class="table" border="1"  width="100%" cellpadding="0" cellspacing="1" bordercolor="#FFFFCC"><tbody>
	{% for activity in disarrange_list %}
	<tr>
		<td style="background-color:#FBF1F1;border-radius:15px"><a href="{% url 'activity-info' activity.id %}"><font size="4" style="color:#3333CC;font-family:STXinwei"><u>{{activity.name}}</u></font></a>
		<div class="info">
			{% bootstrap_icon 'start_time' %}<font style="color:#6699FF;font-family:STXinwei">{{activity.start_time}}</font>
			{% bootstrap_icon 'end_time' %}<font style="color:#6699FF;font-family:STXinwei">{{activity.end_time}}</font>
			{% bootstrap_icon 'place' %}<font style="color:#6699FF;font-family:STXinwei">{{activity.place}}</font>
		</div>
		</td>
	</tr>
	{% endfor %}
</tbody></table>

<div>
	<form method="POST" action="{% url 'to-list' %}" style="font-family:STXinwei"> 
	{% csrf_token %}
	{% buttons submit='返回' %}{% endbuttons %}
	</form>
</div>
    <div>
	<form method="POST" action="{% url 'MyArrangement' %}" style="font-family:STXinwei">
	{% csrf_token %}
	{% buttons submit='下载' %}{% endbuttons %}
	</form>
</div>
    </br>

    <div style="color:#6699FF;font-family:STXinwei">
        <h3 style="color:#6699FF;font-family:STXinwei">提示</h3>
        <font size = 3>
        </br>
        1.若在个人信息中填写了有效的邮箱，将会在活动开始前23～24小时收到邮件提醒
        </br>
        2.系统每一小时发送一次邮件，故若需要邮件提醒请提前录入活动
        </font>
    </div>
{% endblock %}
