<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title>base</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"media="screen">
    <link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{% static 'jquery-3.2.1.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/locales/bootstrap-datetimepicker.fr.js' %}" charset="UTF-8"></script>
</head><body style="background-color:#F2F2F2" >
    <div class="container">
		<img src="{% static 'img/title.png' %}" alt="title" height="45" width="490"/>
        <section id="content">{% block content %}{%endblock %}</section>
        <footer class="footer"><p>&copy; 2017 今儿该怎么过</p></footer>
        <nav>
            <ul class="nav nav-pills pull-right">
                {% if user.is_authenticated %}
                    <li role="presentation">
                        <a href="{% url 'logout' %}"><font size="4" style="color:#3333CC;font-family:STXinwei"><u>登出(<b>{{user.username}}</b>)</u></font></a>
                    </li>
                    <li role="presentation">
                        <a href="{% url 'to-index' %}"><font size="4" style="color:#3333CC;font-family:STXinwei"><u>回到主页</u></font></a>
					<li role="presentation">
						<a href="{% url 'set-info' %}"><font size="4" style="color:#3333CC;font-family:STXinwei"><u>个人信息</u></font></a>
                    </li>
                {% else %}
                    <li role="presentation">
                        <a href="{% url 'login' %}"><font size="4" style="color:#3333CC;font-family:STXinwei"><u>登录</u></font></a>
                    </li>
                    <li role="presentation">
                        <a href="{% url 'signup' %}"><font size="4" style="color:#3333CC;font-family:STXinwei"><u>注册</u></font></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

</body></html>