{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="user_info pre">
	<p><div class="user_nickname">{{user_info.nickname}}</div>
	<div class="user_gender">
	{%if user_info.gender == 'M'%}
		Male
	{% else %}
		Female
	{% endif %}
	</div>
	<div class="user_email">{{user_info.email}}</div>
	</p>
	</br>
	</br>
	<a href="{% url 'activities-list' %}"><font size="4">我的活动列表</font></a>
	</br>
	</br>
</div>
{% else %}
<div>
	<div>欢迎来到“今儿该怎么过”，请登录</div>
	<a href="{% url 'login' %}">登录</a>
</div>
{% endif %}
{% endblock %}