{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="user_info pre">
	</br>
	</br>
	</br>
	<h4 class="user_nickname" style="color:#6699FF;font-family:STXinwei">你的大名：{{user_info.nickname}}</h4>
	<h4 class="user_gender" style="color:#6699FF;font-family:STXinwei">
	你的属性：
	{%if user_info.gender == 'M'%}
		汉纸
	{% else %}
		妹纸
	{% endif %}
	</h4>
	<h4 class="user_email" style="color:#6699FF;font-family:STXinwei">你的邮箱：{{user_info.email}}</h4>
	</br>
	</br>
	<a href="{% url 'activities-list' %}"><font size="4" style="color:#3333CC;font-family:STXinwei"><u>我的活动列表</u></font></a>
	</br>
	</br>
</div>
{% else %}
<div>
</br>
	<div><font size="5" style="color:#6699FF;font-family:STXinwei">欢迎来到“今儿该怎么过”，请登录</font></div>
	</br>
</div>
{% endif %}
{% endblock %}