{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}
{% include 'messages.html' %}
<h3><font style="font-family:STXinwei">登录</font></h3>
<div style="background-color:#F4F4F4">
	<form method="post" action="{% url 'authenticate' %}">
		{% csrf_token %}
		<div class="form-group">
			<label for="username" ><font size="4" style="color:#6699FF;font-family:STXinwei">用户名</font></label>
			<input type="text" id="username" name="username"
				class="form-control" placeholder="Username" style="width:50%; background-color:#F1F2F1 "  required/>
		</div>
		<div class="form-group">
			<label for="password"><font size="4" style="color:#6699FF;font-family:STXinwei">密码</font></label>
			<input type="password" id="password" name="password"
			class="form-control" placeholder="Password" style="width:50%; background-color:#F1F2F1" required
			/>
		</div>
        <div style="width:5%;float:left;font-family:STXinwei">
		{% buttons submit='登录' %}{% endbuttons %}
		</div>
	</form>
</br>
</br>
</br>

</div>
{% endblock %}