{% extends 'base.html' %}
{% block content %}
{% include 'messages.html' %}
<h3><font style="font-family:STXinwei">登录</font></h3>
<div>
	<form method="post" action="{% url 'authenticate' %}">
		{% csrf_token %}
		<div class="form-group">
			<label for="username" ><font size="4" style="color:#6699FF;font-family:STXinwei">用户名</font></label>
			<input type="text" id="username" name="username"
				class="form-control" placeholder="Username" style="width:50%; background-color:#F8F8F8 "  required/>
		</div>
		<div class="form-group">
			<label for="password"><font size="4" style="color:#6699FF;font-family:STXinwei">密码</font></label>
			<input type="password" id="password" name="password"
			class="form-control" placeholder="Password" style="width:50%; background-color:#F8F8F8" required
			/>
		</div>
		<button type="submit" class="btn btn-primary"><font  style="font-family:STXinwei">登录</font></button>
	</form>
</div>
{% endblock %}