{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content%}

<h3><font style="font-family:STXinwei">查找</font></h3>
<div class="panel panel-default" style="background-color:#CCFFCC">
	<div class="panel-heading"><font style="font-family:STXinwei">输入查找条件</font></div>
	<div class="panel-body">
	<form method="POST" action="{% url 'search-submit' %}"style="font-family:STXinwei">
		{% csrf_token %}
		{% bootstrap_form search_form layout='inline'%}
    <div style="width:8%;float:left">
		{% buttons submit='查找' %}{% endbuttons %}
    </div>
	</form>
    <div style="width:8%;float:left">
		<form method="POST" action="{% url 'to-list' %}"style="font-family:STXinwei">
		{% csrf_token %}
		{% buttons submit='返回' %}{% endbuttons %}
		</form>
	</div>
	</div>
</div>
{% endblock %}